@*@model  Interes.Models.BasketGroup*@
@model  Interes.Models.OrderDetails
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_Layout - Nav.cshtml";
}

<style>
    body {
        color: whitesmoke;
        /*background-image: url('../Media/CART/AddToBasket_Grey.jpg');*/
        /*background-attachment: fixed;*/
        background-size: 100%;
        /*background-color:lightsteelblue;*/
    }

    .ODInputField {
        height: 2.2em;
        border: solid;
        border-width: 0.25em;
        background-color: khaki;
        border-color: white;
        color: black;
    }


    #MainLine {
        border: none; /* For Firefox */
        color: whitesmoke; /* Line color for the rest of Browsers */
        background-color: whitesmoke; /* Line color for Firefox and Opera */
        height: 1px; /* The thickness of the line */
    }

    #BasketContentsDiv {
        float: left;
        background-image: url('../Media/CHECKOUT/napkin-salat.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: none;
        position: absolute;
        /*width: 60%;*/
        padding: 0.5%;
        border: solid;
        border-color: ivory;
        border-width: 2px;
    }

    #CostBreakdownDiv {
        background-image: url('../Media/CHECKOUT/napkin-blue.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        display: none;
        width: 35%;
        padding: 1%;
        border: solid;
        border-color: ivory;
        border-width: 2px;
    }
</style>

<script>
    $(document).ready(function () {
        $("#BasketContentsBtn").click(function (event) {
            event.preventDefault();
            $("#BasketContentsDiv").css("display", "block");
            $(document).scrollTop(0);
            return false;
        });
        return false;
    });
    $(document).ready(function () {
        $("#CostBreakdownBtn").click(function (event) {
            event.preventDefault();

            $("#CostBreakdownDiv").css("display", "inline-block");
            $(document).scrollTop(0);
            return false;
        });
        return false;
    });
    $(document).ready(function (event) {

        $("#DDL_PrevAdrs").change(function (event) {
            event.preventDefault();

            var adr = $("#DDL_PrevAdrs").val().split(", ");
            $("#City").val(adr[2]);
            $("#Street").val(adr[0]);
            $("#PostalCode").val(adr[3]);
            $("#UnitApt").val(adr[1]);

        });

        return false;
    });
    $(document).ready(function () {
        $("#BasConCloseBtn").click(function (event) {
            event.preventDefault();
            $("#BasketContentsDiv").css("display", "none");
            return false;
        });
        return false;
    });
    $(document).ready(function () {
        $("#CostBreakCloseBtn").click(function (event) {
            event.preventDefault();
            $("#CostBreakdownDiv").css("display", "none");
            return false;
        });
        return false;
    });
</script>
<br />

<div id="BasketContentsDiv">
    @{Html.RenderAction("BasketContents", "Checkout");}
</div>

@using (Html.BeginForm("OrderDetails", "Checkout", /*new { id = item.Id },*/FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger", @style="font-size:2em; color:yellow"})
<table>
    <tr><td colspan="9"><h2 style="  color:whitesmoke; ">Please, enter your Name, Phone and Email Address</h2><hr id="MainLine" /></td></tr>
    <tr class="bottom">
        <td colspan="1"><h3 style="color:orangered; vertical-align:bottom;">Name</h3></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td colspan="1"><h3 style="color:orangered; vertical-align:bottom; ">Phone </h3></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td colspan="1"><h3 style="color:orangered; vertical-align:bottom;">Email Address</h3></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr class="top">
        <td colspan="1"></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td colspan="1"><span style="color:whitesmoke;">e.g. xxx-xxx-xxxx</span></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td colspan="1"><span style="color:whitesmoke;">e.g. something@gmail.com</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>

        <td colspan="1">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "ODInputField", @style = "width:30em; padding-left:0.5em;" } })
        </td>
        <td></td>
        <td colspan="1">

            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "ODInputField", @style = "width:11em; padding-left:0.5em;" } })

        </td>
        <td></td>
        <td colspan="1">

            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "ODInputField", @style = "width:20em;padding-left:0.5em;" } })

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    @*-----------------------------------------------------------------------------------*@
    <tr>

        <td colspan="1">
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "color:yellow" })
        </td>
        <td></td>
        <td colspan="1">
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger", @style = "color:yellow" })

        </td>
        <td></td>
        <td colspan="1">
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "color:yellow" })
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @*-----------------------------------------------------------------------------------*@

    <tr><td colspan="9"><h2 style="color:whitesmoke; ">Choose delivery address from Previous or Enter new one</h2><hr id="MainLine" /></td></tr>
    <tr>
        <td colspan="1"><h3 style="color:orangered;">Previous addresses</h3></td>

        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><h3 style="color:orangered;">City</h3></td>

        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><h3 style="color:orangered;">Postal Code</h3></td>
        <td></td>
        <td></td>
        <td rowspan="6" colspan="2" style=" width:12em; height:100%; padding-left:1em;margin:0;">
            <button id="BasketContentsBtn" style="border:solid; border-width:0.25em; border-color:white; border-radius:1em; width:100%; height:15em; color:whitesmoke; background-color:transparent;">

                <h4>Basket Contents and Cost Breakdown</h4><img src="../Media/kebab.jpg" style="width:100%; height:50%; border:solid; border-width:0.2em; border-radius:1em; border-color:transparent; padding:0; margin:0;" />
            </button>
        </td>
    </tr>
    <tr>
        @*------------------------------------------------------------*@

        <td colspan="1">
            <select id="DDL_PrevAdrs" class="ODInputField" style="width:30em;">
                @{ foreach (var row in Model.Addresses)
                    {
                        <option>@row</option>
                    }
                }
            </select>
        </td>
        <td></td>

        @*------------------------------------------------------------*@
        <td>
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "ODInputField", @style = "width:11em; padding-left:0.5em; ", @id = "City" } })
        </td>
        <td></td>
        <td>
            @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "ODInputField", @style = "width:10em; padding-left:0.5em;", @id = "PostalCode" } })
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger", @style = "color:yellow" })
        </td>
        <td></td>
        <td>
            @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger", @style = "color:yellow" })
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>

        <td colspan="1" style="padding:3px;"><h3 style="color:orangered;">Street Address</h3></td>
        <td></td>
        <td colspan="1" style="padding:3px;"><h3 style="color:orangered;">Apt or Unit</h3></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>

        <td colspan="1">
            @Html.EditorFor(model => model.StreetAddress, new { htmlAttributes = new { @class = "ODInputField", @style = "width:30em; padding-left:0.5em;", @id = "Street" } })
        </td>
        <td></td>
        <td colspan="1">
            @Html.EditorFor(model => model.UnitApt, new { htmlAttributes = new { @class = "ODInputField", @style = "width:10em; padding-left:0.5em;", @id = "UnitApt" } })
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>

        <td colspan="1">
            @Html.ValidationMessageFor(model => model.StreetAddress, "", new { @class = "text-danger", @style = "color:yellow" })
        </td>
        <td></td>
        <td colspan="1">
            @Html.ValidationMessageFor(model => model.UnitApt, "", new { @class = "text-danger", @style = "color:yellow" })
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>

    <tr><td colspan="9"><h2 style="color:whitesmoke; ">Please, enter here Delivery Date and Time</h2><hr id="MainLine" /></td></tr>
    <tr>

        <td colspan="1" style="padding:3px;"><h3 style="color:orangered;">Date</h3></td>
        <td></td>
        <td colspan="1" style="padding:3px;"><h3 style="color:orangered;">Time</h3></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" rowspan="2" style="padding-left:1em;">
            <button class="arrow" style=" font-size:medium; border:solid; border-width:0.25em; border-color:white; border-radius:1em; width:100%; height:4em; color:whitesmoke; background-color:green; ">
                Submit<br />Order
            </button>
        </td>
    </tr>
    <tr>
        <td>
            @Html.EditorFor(model => model.DeliveryDate, new { htmlAttributes = new { @class = "ODInputField", @type = "date", @style = "width:11em; padding:3px; text-align:center;" } })
        </td>
        <td></td>
        <td>
            @Html.EditorFor(model => model.DeliveryTime, new { htmlAttributes = new { @class = "ODInputField", @type = "time", @style = "width:8em; text-align:center;" } })
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td>
            @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger", @type = "date", @style = "color:yellow" })
        </td>
        <td></td>
        <td>
            @Html.ValidationMessageFor(model => model.DeliveryTime, "", new { @class = "text-danger", @type = "time", @style = "color:yellow" })
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td colspan="3" >
            <span style="color:yellow;">@ViewBag.Validation</span> 
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr><td colspan="9"><hr id="MainLine" /></td></tr>

</table>
}

@*<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>*@

<script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>



@*@Scripts.Render("~/Scripts/jquery.validate.js")*@
@*@Scripts.Render("~/Scripts/jquery.validate.min.js")*@
@*@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")*@
@*@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")*@